@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 200px;
  height: auto;
}

.img-container {
  position: relative;
  width: 250px;
  height: 250px;
}

.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.flip {
  transform: rotateY(180deg);
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
